* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 2;
    height: 100vh;

    display: grid;
    grid-template-rows: 70px calc(100vmin - 70px) 1fr auto;
}

.container {
    width: 80%;
    margin: auto;
}

nav {
    background-color: #f1808a;
    color: #fff;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav .logo {
    font-size: 2.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-left: 20px;
}

nav a:hover {
    color: #5eb1ff;
}

.main-header {
    color: #fff;
    background-color: #f7515e;
    background-image: url(images/image-from-rawpixel-id-3370591-original.jpg);
    background-size:cover;
}

.main-header .text {
    margin: 50px 0;
}

.main-header h1 {
    font-size: 6rem;
    margin-bottom: 100px;
    line-height: 1;
}

.main-header p {
    width:50%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding:10px 20px;
}

main {
    background-color: #f7515e;
    color:#fff;
}

main h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    text-align: center;
}

main .card {
    background-color: #ff9a9a;
    color: #fff;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    
}

main .container {
    width: 95%;
}

main .card {
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr 2fr;
    grid-template-rows: repeat(3, auto);
}

main img {
    grid-column: 1;
    grid-row: 1/4;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

main .nome-animal {
    grid-column: 2/5;
    grid-row: 1;
}

main .sobre {
    grid-column: 2/5;
    grid-row: 2;
}

main .caracteristicas {
    grid-column: 2/3;
    grid-row: 3;
}

main .pelagem {
    grid-column: 3/4;
    grid-row: 3;
}

main .saude {
    grid-column: 4/5;
    grid-row: 3;
}

main .geral {
    grid-column: 5;
    grid-row: 1/4;
}

footer {
    background-color: #f1808a;
    color: #fff;
}