* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 2;
    color: #fff;
    /* height: 100vh;
    overflow-x: hidden; */

    display: grid;
    grid-template-rows: 70px calc(100vmin - 70px) 1fr auto;
}

.container {
    width: 80%;
    margin: auto;
}

nav {
    background-color: #f1808a;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav .logo {
    font-size: 2.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    color: inherit;
}

nav a:hover {
    color: #5eb1ff;
}

.header-main {
    background-color: #f7515e;
    background-image: url(images/image-from-rawpixel-id-3370591-original.jpg);
    background-size: cover;
}

.header-main .text {
    margin: 50px 0;
}

.header-main h1 {
    font-size: 6rem;
    margin-bottom: 7%;
    line-height: 1;
}

.header-main p {
    width:55%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding:10px 20px;
}

main {
    background-color: #f7515e;
}

main h2 {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    line-height: 1.1;
}

main .container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 30px;
}

.container .card:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 1;
}
.container .card:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1;
}
.container .card:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2;
}
.container .card:nth-of-type(4) {
    grid-column: 2/4;
    grid-row: 2;
}
.container .card:nth-of-type(5) {
    grid-column: 1/3;
    grid-row: 3;
}
.container .card:nth-of-type(6) {
    grid-column: 3;
    grid-row: 3;
}

main .card {
    background-color: #ff9a9a;
    padding: 20px;
    border-radius: 30px;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap:10px;   
}

main img {
    grid-column: 1;
    grid-row: 1/4;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    object-fit:cover;
    display: flex;
    justify-self: center;
    align-self: center;
}

main .pet-name {
    grid-column: 2;
    grid-row: 1;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.pet-name h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

main .general {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    border-top:thin solid #e76767;
    border-bottom: thin solid #e76767;
    padding: 5px 0;
}

.general li {
    margin-right: 25px;
}

.general li:first-child {
    list-style: none;
}

main .about {
    grid-column: 2;
    grid-row: 3;
}

.about dt {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
}

.about dt:first-child {
    margin: 0;
}

.about dd:last-child {
    padding-bottom: 10px;
    border-bottom: thin solid #e76767;
}

main .description {
    grid-column: 1/3;
    grid-row: 4;
}

.description p {
    margin-bottom: 20px;
}

.description a {
    text-decoration: underline;
    text-align: center;
    color: #7f3b9e;
}

footer {
    background-color: #2c2c2c;
    padding: 10px 0;
}

.pre-footer {
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.outer-footer h3 {
    color: #d8d8d8;
}

.outer-footer ul {
    list-style: none;
    line-height: 1.6;
}

.outer-footer a {
    text-decoration: none;
    color: #d8d8d8;
}

.outer-footer a:hover {
    text-decoration:underline;
}